*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: ui-monospace, "Courier New", Courier, monospace;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  letter-spacing: 0.18px;
  color: oklch(90.67% 0 0);
  background-color: oklch(21.78% 0 0);
}

:where(html, body) {
  overscroll-behavior-y: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
